<nav id="sidebar">
    <div class="p-4 pt-5">
      
      <h1><a href="index.html" class="logo">NAPP </a> <img src="../assets/tablero.png" width="50" alt=""></h1>
      <small><b>Numerical Analisys App</b></small>
      <hr>
      <ul class="list-unstyled components mb-5">
        <li>
          <a href="/incremental_search"><i class="fas fa-star"></i> Incremental Search</a>
        </li>
        <li>
          <a href="/bisection"><i class="fas fa-star"></i> Bisection</a>
        </li>
        <li>
          <a href="/newton"><i class="fas fa-star"></i> newton</a>
        </li>
        <li>
          <a href="/false_rule"><i class="fas fa-star"></i> False Rule</a>
        </li>
        <li>
          <a href="/fixed_point"><i class="fas fa-star"></i> Fixed Point</a>
        </li>
        <li>
          <a href="/secant"><i class="fas fa-star"></i> Secant</a>
        </li>
        <li>
          <a href="/multiple_roots"><i class="fas fa-star"></i> Multiple Roots</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-star"></i> Gauss Simple</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-star"></i> Gauss Partial Pivot</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-star"></i> Gauss Total</a>
        </li>

        <li>
          <a href="#"><i class="fas fa-star"></i> LU Simple</a>
        </li>

        <li>
          <a href="#"><i class="fas fa-star"></i> LU Pivot</a>
        </li>

        <li>
          <a href="#"><i class="fas fa-star"></i> Crout</a>
        </li>
      </ul>



      <div class="footer">
        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>

    </div>
  </nav>
